* {
	margin:0;
	padding:0;
}


#wish {
	overflow:auto;
	margin-top:20px;
	height:550px;
}


/* 전체 틀을 배치 설정  */
#wish-list-all {
	width:1300px;
	margin:0 auto;
}

/* 소망 상자 등록하다의 body */
#wish-list-body {
	width:90%;
	margin:auto;
}

/*게시물 전체 틀 */
#wish-list-board-info {
    height: 100%;
}

/* form 위치 배치 및 설정 */
#wish-list-form {
	height: 100%;	
}

#wish-list-board-content {
    height: 100%;
}

/* 소망 상자 등록하다의 전체 목록을 제공해주는 틀  */
#wish-list-list {
	width:190px;
	height:780px;
	float:left;
	margin-right:20px;
}

/* 소망 상자 등록하다 설정  */
#wish-list-list-title {
	text-align:center;
	font-size:25px;
	color:#00bfff;
	font-weight:bold;
	margin:10px;
}

/* 소망상자 목록 배치 */
#wish-list-list-info {
	margin:0 auto;
    margin: 20px auto 10px auto;
}

/* 등롣 날짜를 배치 및 설정 */
#wish-list-title-btn {
	border: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
}

/* ^버튼 위치 배치 설정 */
#up-btn {
	margin: 0 auto;
}

/* 날짜  텍스트 테두리를 지우는 코드 */
#wish-list-date {
	margin: 0;
	border: none;
    font-weight: bold;
}

/* v버튼 위치 배치 설정 */
#down-btn {
	margin: 0 auto;
}

/* 목록 오른쪽에 나오는 전체 테두리 */
#wish-list-board {
	width:950px;
	height:700px;
	float:right;
}

/* 가족 이야기 게시물의 전체 테두리  */
#wish-list-board-all {
	width:95%;
	height:90%;
	border-radius: 15px;
	background-color:#F6DCDC;
	margin:auto;
	margin-top: 30px;
}

/* 소망 상자 작성자, 등록 날짜 배치 및 설정 */
#wish-list-write-name-date {
	width: 26%;
    height: 30px;
	float:right;	
	background-color:red;
	border-radius:5px;
	position:relative;
	top:15px;
	right:23px;
	
}

/* 작성 이름 작성 날짜 설정 */
.wish-list-write-text {
	border:none;
	font-size:15px;
	text-align:center;
	background-color:red;
	border-radius:5px;
	color:#ffffff;
	
}

/*작성자 명 위치 배치 및 설정 */
#write-name {
	width:24%;
	color:#ffff00;
}

/* 작성날짜 색상 설정 */
#write-date-name {
	color:#ffffff;
}

/* 작성 날짜 위치 배치 및 설정 */
#write-date {
    float: right;
    color: #ffffff;
	width:35%;
    border-radius: 5px;
}

/* 소망 상자의 제목 틀 위치 배치*/
#wish-list-write-title {
	width:95%;
	maring:0 auto;
	position:relative;
	top:25px;
	left:23px;
}

/* 소망 상자 제목 섭정 */
#write-title {
	width: 98%;
    height: 20px;
    border-radius: 5px;
}

/* 버튼 사이즈 설정 */
.famil-list-button {
	width:47px;
	height:47px;
}



/* 글쓰기 버튼 배치 및 설정 */
.write {
	width:47px;
	height:47px;
	position:relative;
	top:25px;
	left:0;
}

/* 글씨 버튼 설정 */
#emoticon-letter, #add-photo-letter, #back-letter, #ok-letter {
	display:none;
}

/* textarea 감싸는 테두리 */
#wish-list-textarea {
	width:95%;
    height: 75%;
	margin:0 auto;
	
}

/* textarea 설정 */
#wish-list-board-textarea {
	margin-top:35px;
	padding:10px;
	width:98%;
	height:98%;
	border-radius:15px;
	resize:none;
	overflow:auto;
}

/* 확인 버튼 테두리 위치 배치 및 설정 */
#ok-button {
	position:relative;
	float:right;
	top:15px;
	right:25px;
}

/* 사진 버튼 테두리 위치 배치 및 설정 */
#add-photo-button {
	position:relative;
	float:right;
	top:15px;
	right:25px;
}

/* 이모티콘 버튼 테두리 위치 배치 및 설정 */
#emoticon-button {
	position:relative;
	float:right;
	top:15px;
	right:25px;
}

/* 돌아가기 버튼 테두리 위치 배치 및 설정 */
#back-button {
	position:relative;
	float:right;
	top:15px;
	right:25px;
}

/* 일정 등록 틀 위치 배치 및 설정 */
#wish-list-schedule-date {
    float: left;
    position: relative;
    top: 50px;
    left: 30px;
}

/* 일정 등록 날짜 설정 */
#schedule-date {
	border:none;
	background-color:#F6DCDC;
}