* {
	margin:0;
	padding:0;
}
body{
	width:1300px;
	margin:0 auto;
}

/* 작성 게시글 div틀 */
.family-board {
    width: 84%;
    float: right;
}

.famil-board {
	width: 88%;
    padding: 10px;
    float: right;
    position: relative;
    right: 100px;
}

/* textarea의 div 틀 이다 */
.famil-board-text {
	width: 98%;
	height: 200px;
}

/* 프로핑 테두리 위치 및 설정 */
.profile-border {
	width: 13%;
    float: left;
    height: 270px;
}

/* textarea 클래스 이다 */
.form-control {
	width:100%;
	height:100%;
	resize: none;
	margin-top: 8px;
}

/* 프로필 사진 위치 배치 및 설정 */
.family-board-image {
    width: 47px;
    height: 47px;
    margin-top: 10px;
    margin-left: 30px;
}

.family-board-image image {
	width:100%;
	height:100%;
}

/* 프로필 이름 위치 배치 및 설정 */
.family-board-name {
	width: 85%;
    text-align: center;
    border: none;
    position: relative;
    right: 10px;
}

/*이웃 이야기 보드 위치 배치 및 설정 */
.family-board-content {
	padding: 10px;
    border: 2px solid #00bfff;
    width: 71%;
    border-radius: 15px;
    float: right;
    position: relative;
    right: 130px;
}

/* 이웃 홈 보다 가기 버튼 위치 배치 및 설정 */
#family-board-top {
    margin-top: -5px;	
}

/* 이웃 홈 이름 위치 배치 */
#neighbor-story {
    float: left;
}

/* 이웃 홈 버튼 위치 배치 */
#negihbor-story-btn {
    float: left;
}

/* 버튼의 전체 틀 위치 배치 및 설정 */
#write-board-button {

}

/* 공개 범위 위치 배치 설정 */
#public-scope-letter {
	
}

/* 공개 범위 select 위치 배치 및 설정 */
#public-scope {
	
}

/* 댓글 부분  위치 배치 */
.family-board-down {
	margin-top: 16px;
}

#camera-btn {
	
}

#emoticon-btn {
	
}

/* 댓글 전체 */
#comment-write {
    margin-top: 45px;
}

/* 댓글 프로필 사진 위치 배치 및 설정 */
#comment-profile {
    width: 30px;
    height: 30px;
   	float: left;
}

#comment-profile image {
	width:100%;
	height:100%;
}

/* 댓글 텍스트 창이랑 댓글 버튼 위치 배치 및 설정 */
#comment-content-all {
	width: 95%;
    float: right;
}

/* 댓글 text 위치 배치 및 설정 */
#comment-content {
    width: 91%;
    margin: 0;
}

/* 작성 일자 위치 배치 및 설정 */
.family-board-date {
	position: relative;
    top: 45px;	
    left: 700px;
}

#heart-image {
	/* 하트 배치  */
	float: right;
}

#heartNo {
	/* 하트 개수 배치  */
    float: right;
}


